h1 {
font-size: 3rem;
color: white;
text-align: center;
font-style: normal;
}

header{
  padding: 50px;
  margin: 25px;
  background-color: black;
}

personal{

}

interest_it{

}

whystudy{

}

idealjob{

}

profiletest{

}

projectmain{

}

footer{
  margin: 50px;
  padding: 50px;
}
